body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#text-output {
    width: 75%;
    height:200px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px;
}

.words-containers {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.word-box {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
}