@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
    padding-left: 1.5%;;
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1em;
}

/* button {
    cursor: pointer;
    font-size: 1.5em;
    padding: 2%;
} */

.output-and-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2%;
    gap: 2%;
}

.text-container {
    margin: 0 auto !important;
    width: 100%;
}

#text-output {
    width: 80%;
    height: 200px;
    display: block;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 10px;
    padding: 1.2%;
}

@media (max-width: 768px) {
    #text-output {
      width: 50%;
      margin: 2% auto;
    }
  } 

/* three main sections to the same width */
/* .common-words-container, .word-bank, .suggestion-section {
    width: 70%;
    margin: 2% auto;
    box-sizing: border-box;
}

  
  @media (max-width: 768px) {
    .common-words-container,
    .word-bank,
    .suggestion-section {
      width: 100%;
      margin: 2% auto;
    }
  }   */

  .sections-container {
    display: flex;
    /* gap: 1rem; */
    gap: 0;
    margin-top: 2%;
  }

  .left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* margin-left: 2%; */
    /* font-size: 1.5em; */
  }

  .word-bank {
    width: 60%;
    height: auto;
    margin-left: 2%;
  }

/*  title styling */
.common-words-title, .suggestion-title, .word-bank h2 {
    font-size: 1.3em;
    margin-bottom: 2%;
}

.words-containers {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-color: grey;
    gap: 2%;
    width: 100%;
    /* margin: 0 auto; */
}

.common-words-container .word-box {
    font-size: 1.2em; 
    padding: 1.8% 2.5%;
}

.suggestion-section .button-container button {
    font-size: 1.2em;
    padding: 1.8% 2.5%;
}

/* made to be standard  */
/* .word-bank {
    width: 80%;
    margin: 0 auto;
}*/

.common-words-container {
    background-color: #D6EAF8;
    padding: 2% 5% 5% 5%;
} 

.suggestion-section{
    background-color: #eeecec;
    padding: 2% 5% 5% 5%;
}

.word-box {
    padding: 1.5% 2%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1em;
    margin: 1%;
    min-width: 10%;
    text-align: center;
}

.word-box:hover {
    background-color: #bdc3c7;
    color: black;
}

.control-btns button, .voice-select {
    display: flex;
    flex-direction: column;
    margin: 12%;
    /* gap: 10%; */
    padding: 0.5em 2em; 
    font-size: 1.5em;
    border-radius: 10px;
    border-color: lightgray;
    cursor: pointer;
    width: 90%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media (max-width: 768px) {
    .control-btns button, .voice-select {
      font-size: 1em;
      margin: 2% auto;
      margin-top: 40%;
    }
  } 

  #voice-select.voice-select {
    width: 170%; 
    padding: 0.5em; 
    font-size: 1em; 
    border: 1px solid lightgray; 
    /* margin-bottom: 1%; */
    box-sizing: border-box; 
    margin-top: -3em;
}

.control-btns button:hover, .play-pause-container button:hover {
    background-color: darkgray;
    color: white;
}

.play-pause-container button:hover {
    background-color: green;
    color: white;
}

.voice-select {
    width: 30%;
}

.play-pause-container {
    /* border: 2px solid red; Temporary to visualize */
    width: 15%;
    /* border: 2px solid red; */
    margin-left: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;

}

.control-btns button{
    text-transform: uppercase;
    border: none;

}

.control-btns {
    /* border: 2px solid red; Adds a visible border */
    width: 15%;
}

.reset-btn {
    background-color: red;
    color: white;
}

.undo-btn {
    background-color: lightgrey;
    color: black;
}

.pause-btn {
    background-color: #FFBF00;
    width: 80%;
}

.speak-btn {
    background-color: green;
    color: white;
    /* padding: 20%; */
    height: 4em;
    width: 80%;
}

.repeat-btn {
    background-color: #9370DB;
    color: white;
    width: 60%;
}

button:focus {
    /* restore colours  */
    background-color: inherit;
    color: inherit;
  }
  
  .reset-btn:focus {
    background-color: red !important;
    color: white !important;
  }

  .undo-btn:focus {
    background-color: lightgrey !important;
    /* color: white !important; */
  }
  
  .speak-btn:focus {
    background-color: green !important;
    color: white !important;
  }
  
  .pause-btn:focus {
    background-color: #FFBF00 !important;
  }
  
  .repeat-btn:focus {
    background-color: #9370DB !important;
    color: white !important;
  }
  
  /* For standard word boxes */
  /* .word-box:focus {
    background-color: #3498db !important;
    color: white !important;
  } */

.play-pause-container button {
    display: flex;
    flex-direction: column;
    /* margin: 20% 0; */
    /* height: 40%;
    height: 4em;
    width: 50%;
    margin: 10%; */
    gap: 10%;
    padding: 10%;
    font-size: 2em;
    border-radius: 10px;
    border-color: lightgray;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center; 
    align-items: center;
    border: none;
}

@media (max-width: 768px) {
    .play-pause-container button {
      margin: 2% auto;
      margin-top: 40%;
    }
  } 

.tab-container {
    /* margin-top: 20px 0; */
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.tab-btn {
    background-color: #f1f1f1;
    border: none;
    padding: 1% 2%;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 1.25em;
    border-bottom: 3px solid transparent;
}

.tab-btn.active {
    /* background-color: #3498db; */
    color: white;
    border: none;
    border-bottom: 3px solid;
}

/* .tab-btn:hover {
    background-color: lightgrey;
    color: black;
} */

/*each tab button */
.tab-btn[data-tab="starters"] {
    border-color: #3498db; /* Inactive border color */
  }
  .tab-btn[data-tab="starters"].active {
    background-color: #3498db; /* active background */
    border-color: #3498db; /* active border color */
  }
  
  .tab-btn[data-tab="questions"] {
    border-color: #e74c3c; 
  }
  .tab-btn[data-tab="questions"].active {
    background-color: #e74c3c; 
    border-color: #e74c3c; 
  }
  
  .tab-btn[data-tab="responses"] {
    border-color: #2ecc71; 
  }
  .tab-btn[data-tab="responses"].active {
    background-color: #2ecc71; 
    border-color: #2ecc71; 
  }
  
  .tab-btn[data-tab="subjects"] {
    border-color: #f39c12; 
  }
  .tab-btn[data-tab="subjects"].active {
    background-color: #f39c12; 
    border-color: #f39c12;
  }
  
  .tab-btn[data-tab="verbs"] {
    border-color: #9b59b6;
  }
  .tab-btn[data-tab="verbs"].active {
    background-color: #9b59b6; 
    border-color: #9b59b6; 
  }
  
  .tab-btn[data-tab="common"] {
    border-color: #1abc9c;
  }
  .tab-btn[data-tab="common"].active {
    background-color: #1abc9c; 
    border-color: #1abc9c;
  }

.tab-content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    border: 2px solid #ecf0f1; /* Border styling */
    border-radius: 5px;    
    background-color: white;
    gap: 2%;
}

.tab-content.active {
    display: flex;
}

/* border colour */
#starters.tab-content.active {
    display: flex;
    border-color: #3498db; 
  }
  
  #questions.tab-content.active {
    display: flex;
    border-color: #e74c3c;
  }
  
  #responses.tab-content.active {
    display: flex;
    border-color: #2ecc71; 
  }
  
  #subjects.tab-content.active {
    display: flex;
    border-color: #f39c12; 
  }
  
  #verbs.tab-content.active {
    display: flex;
    border-color: #9b59b6; 
  }
  
  #common.tab-content.active {
    display: flex;
    border-color: #1abc9c; 
  }

.hint-section {
    margin: 2% 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.button-container button {
    padding: 1.5% 2%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    min-width: 10%;
    text-align: center;
    margin: 1%;
    /* padding: 2%; */
}

.more-options-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    gap: 2%;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 10px;
    border-color: lightgray;
}

.button-container button:hover {
    background-color: #2980b9;
}

/* .suggestion-section {
    width: 60%;
    margin: 0 auto;
} */

button {
    transition: background-color 1s;
}

button:focus {
    outline: none;
}

